@model List<PizzaVM>


<h2 class="title">Pizza Menu</h2>

<div class="content">
    @foreach (var item in Model)
    {
    <div class="onecard">
        @*<partial name="_PizzaCard" model=item />*@
        <div>
            <h4>Name: @item.Name</h4>
            <p>Id: @item.Id</p>
            <p>Size: @item.Size</p>
            <p>Price: @item.Price</p>
        </div>
        <div>
            <a asp-action="details" asp-controller="pizzas" asp-route-id=@item.Id>Details</a>
            <a asp-action="delete" asp-controller="pizzas" asp-route-id=@item.Id>Delete</a>
        </div>

    </div>
    }
</div>


<div>
    <a asp-action="create" asp-controller="pizzas">Create new pizza</a>

</div>

<style>
    .content {
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-wrap: wrap;
    }
    .onecard{
        margin: 25px;
    }
    .title {
        text-align: center;
        color: #abc6c9;
    }
</style>