@model List<PizzaVM>




<h2 class="title">@ViewBag.Welcome</h2>
<h3 class="subtitle">Pizza menu</h3>

<div class="content">
    @foreach (var item in Model)
    {
        <div class="onecard">
            <partial name="_PizzaCard" model=item />

        </div>
    }
</div>

<div>
    <a asp-action="Index">Back to Store List</a>
</div>

<style>
    .content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .onecard {
        margin: 25px;
    }

    .title {
        text-align: center;
        color: #abc6c9;
    }

    .subtitle {
        text-decoration: underline;
        color: #abc6c9;
    }
</style>
