@model List<StoreVM>


<h2 class="title">@ViewBag.Title</h2>

@*<p>
    <a asp-action="GoToPizzaMenu">Go to pizza menu</a>
</p>*@

<div class="content">
    @foreach (var item in Model)
    {
        <div>
            <partial name="_StoreCard" model=item>
        </div>
    }
</div>

<style>
    .content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .title {
        text-align: center;
        color: #abc6c9;
    }
</style>

